.new-thought-div {
  display: flex;
  justify-content: center;
  background-color: $primary;
  
  form {
    @include box($primary, $grey, 15px, 15px, 60%);
    display: flex;
    flex-direction: column;
    
    

    input {
      @include box($background, $primary, 10px, 5px, 90%);
      @include font($grey, 18px, 400, left);
      margin-top: 3px;
    }
    label {
      @include box($primary, $primary, 0px, 0px, 90%);
      @include font($grey, 24px, 700, left);
      margin-left: 10px;
      margin-top: 8px;
    }
    .submit-new-thought-btn {
      width: 93%;
      text-align: center;
      font-weight: 900;
    }
  }
}