body {
  background-color: $background;
  box-sizing: border-box;
}

.header {
  background-color: $primary;
  
  h2 {
    margin: 0px;
    padding: 5px;
    @include font($grey, 45px, 900, left)
    text-shadow: 3px 1px 1px $highlight-cool;
  }
}