@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");

$main-font: 'Roboto', sans-serif; 

$primary: #FFBF69;
$highlight-hot: #FF9F1C;
$background: #FFF9F1;
$primary-cool: #A7F2BB;
$highlight-cool: #83c7b4;
$grey: #3F3F3F;